/* Reviews section: one image per row */
.reviews3_section .reviews_list{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.reviews3_section .review_item{
	width: 100%;
}
.reviews3_section .review_item img{
	display: block;
	width: 100%;
	height: auto;
}
.reviews3_section .reviews_actions{
	text-align: center;
	margin-top: 10px;
}
/* Make the toggle button fixed when showing all */
#reviewsToggleBtn.is-fixed{
	position: fixed;
	left: 10px;
	right: 10px;
	bottom: 12px;
	z-index: 1000;
}

